<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="description" content="主にPythonとJanome等を使って実装しています。来年の完成を目指して鋭意製作中です。">
<title>original-chatbot</title>
<link rel="shortcut icon" type="image/x-icon" href="{{url_for("static",filename="favicon.ico")}}">
<link rel="stylesheet" type="text/css" href="{{url_for("static",filename="page_styles.css")}}">
</head>
<body>
<div class="header">
<h2 id="introduce">「original-chatbot」  人間との自然な会話を目指したチャットボットです</h2>
</div>
</br>
<p class="init_show_txt">>hello! (original-chatbot)</p>
<form method="post">
<textarea name="sent_txt" rows="10" cols="100"></textarea>
</br>
<input type="submit" value="メッセージを送る" class="button">
</form>
</br>
</br>
</br>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="balloon_flash">
  {% for message in messages %}
   <p class="flash_txt">{{message}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
</br>
</br>
</br>
<div class="footer">
<p id="copyright">Copyright &copy; 2023  moriaki1983(moriaki-circle)  All rights reserved.</p>
</div>
</body>
</html>