.header {
background-color: #32CD32;
}

.flash {
background-color: yellow;
}

.footer {
background-color: #cbe8fa;
}


.init_show_txt {
color: black;
}

.flash_txt {
color: red;
}

.reply_txt1 {
color: black;
}

.reply_txt2 {
color: black;
}

.reply_txt3 {
color: black;
}

.reply_txt4 {
color: black;
}

.reply_txt5 {
color: black;
}

.reply_txt6 {
color: black;
}

.reply_txt7 {
color: black;
}

.reply_txt8 {
color: black;
}

.reply_txt9 {
color: black;
}

.reply_txt10 {
color: black;
}


body {
background-color: #75A9FF;
}


img {
position: relative;
border: 2px solid;
border-color: black;
border-radius: 50%;
width:  300px;
height: 300px;
}


.balloon_flash {
position: absolute;
top:  220px;
left: 10px;
display: inline-block;
margin:  10em 0;
padding: 10px 10px;
min-width: 120px;
max-width: 50%;
color: #555;
font-size: 16px;
background: yellow;
border-radius: 15px;
border: 1px solid;
border-color: black;
}

.user_balloon {
position: absolute;
top: 360px;
left: 1080px;
display: inline-block;
margin:  10em 0;
padding: 10px 10px;
min-width: 120px;
max-width: 50%;
color: #555;
font-size: 16px;
background: #8EB8FF;
border-radius: 15px;
border: 1px solid;
border-color: black;
}

.bot_balloon {
position: relative;
left: 50px;
display: inline-block;
margin: 10em 0;
padding: 7px 10px;
min-width: 120px;
max-width: 50%;
color: #555;
font-size: 16px;
background: #FF97C2;
border-radius: 15px;
border: 1px solid;
border-color: black;
}


.button {
width: 240px;
hight: 100px;
padding: 10px;
box-sizing: border-box;
border: 2px solid #68779a;
border-radius: 5%;
background: gray;
cursor: pointer;
}

.button:hover {
background: silver;
cursor: pointer;
}
