.init_show_txt  { color: blue; }
.reply_txt      { color: blue; }
.reply_txt2     { color: blue; }
.reply_txt3     { color: blue; }

body { background-color: gray; }

img { border: 2px solid black;
      border-radius: 20%;
      width: 300px;
      height: 300px;
}

p { display: inline;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 1.4em;
    padding: 5px;
    background: linear-gradient(transparent 0%, #FFD9D7 0%);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}