<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="主にPythonとJanome等を使って実装しています。来年の完成を目指して鋭意製作中です。">
<title>original-chatbot</title>
<link rel="shortcut icon" type="image/x-icon" href="{{url_for("static", filename="favicon.ico")}}">
<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="styles.css")}}">
<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="bootstrap(popper_bundled)/css/bootstrap.css")}}">
<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="bootstrap(popper_bundled)/css/sticky-footer.css")}}">
</head>
<body style="background: #75A9FF;">
<div class="header">
<nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
<a class="navbar-brand" href="{{url_for("top")}}">original-chatbot</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
</div>
</nav>
</div>
</br>
</br>
<div class="flexbox">
<div style="position:absolute; top:200px; left:120px">
<img class="chracter_image" src="static/bot_image(hina).jpg" alt="bot-image(hina)">
<p id="bot-name(hina)"><font size="5">ヒナ役(チャットボット)</font></p>
</div>
<div style="position:absolute; top:200px; left:1420px">
<img class="chracter_image" src="static/user_image(hodaka).jpg" alt="user-image(hodaka)">
<p id="user-name(hodaka)"><font size="5">ホダカ役(あなた)</font></p>
</div>
</div>
<div class="user_balloon__for_text">
<p>{{origin_texts}}</p>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{generated_texts}}</p>
</div>
</br>
<div class="bot_balloon__for_text">
<p>{{text_mean}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{text_tokens}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{text_sentiment}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{text_dijest}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{context}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{topic}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{user_infomation}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{utterance_modal}}</p>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="user_balloon__for_image">
{% if origin_image_path %}
<img class="origin_image__sent" src="{{origin_image_path}}">
<p>"{{origin_image_path}}"</p>
{% endif %}
</div>
</br>
</br>
<div class="bot_balloon__for_image">
{% if analyzed_image_path %}
<img class="analyzed_image" src="{{analyzed_image_path}}">
<p>"{{analyzed_image_path}}"</p>
{% endif %}
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{image_title}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{image_description}}</p>
</div>
</br>
</br>
<div class="bot_balloon__for_text">
<p>{{learning_results}}</p>
</div>
</br>
</br>
</br>
<a class="btn btn-dark" href="{{url_for("prompt")}}">前のページ画面に戻る</a>
</br>
</br>
</br>
</br>
<footer class="footer">
<div class="container text-center">
<p class="text-muted">ここをクリックすると、ページの先頭に戻ります。</p>
</div>
</footer>
</br>
</br>
<script type="text/javascript" src="{{url_for("static", filename="jquery/jquery-3.6.4.js")}}"></script>
<script type="text/javascript" src="{{url_for("static", filename="bxslider-4-4.2.12/src/js/jquery.bxslider.js")}}"></script>
<script type="text/javascript" src="{{url_for("static", filename="bootstrap(popper_bundled)/js/bootstrap.bundle.js")}}"></script>
<script type="text/javascript">
var btn=$('.footer');
$(window).scroll(function(){if ($(this).scrollTop() > 80){btn.fadeIn();} else {btn.fadeOut();}});
btn.click(function(){$('body,html').animate({scrollTop: 0},500); return false;});
</script>
</body>
</html>